<section id="reviews" aria-labelledby="reviews-heading">
  <div class="container">
    <div class="reviews-header">
      <div class="reviews-google-badge">
        <svg class="reviews-g-icon" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
          <path fill="#EA4335" d="M24 9.5c3.5 0 6.6 1.2 9.1 3.2l6.8-6.8C35.9 2.3 30.3 0 24 0 14.8 0 6.9 5.4 3 13.3l7.9 6.1C12.9 13.3 18 9.5 24 9.5z"/>
          <path fill="#4285F4" d="M46.6 24.5c0-1.6-.1-3.1-.4-4.5H24v8.5h12.7c-.6 3-2.3 5.5-4.8 7.2l7.5 5.8c4.4-4 6.9-10 6.9-17z"/>
          <path fill="#FBBC05" d="M10.9 28.6A14.8 14.8 0 0 1 9.5 24c0-1.6.3-3.2.8-4.6L2.4 13.3A24 24 0 0 0 0 24c0 3.8.9 7.4 2.5 10.6l8.4-6z"/>
          <path fill="#34A853" d="M24 48c6.5 0 11.9-2.1 15.9-5.8l-7.5-5.8c-2.2 1.5-5 2.4-8.4 2.4-6 0-11.1-3.9-13-9.3l-8.5 6.5C6.8 42.6 14.8 48 24 48z"/>
          <path fill="none" d="M0 0h48v48H0z"/>
        </svg>
        <div class="reviews-rating-block">
          <div class="reviews-score-row">
            <span class="reviews-score">4.9</span>
            <div class="reviews-stars-row">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
            </div>
          </div>
          <span class="reviews-count">{{ reviewsCount or "113 Google Reviews" }}</span>
        </div>
      </div>
      <a href="{{ site.mapUrl }}" target="_blank" rel="noopener" class="reviews-all-link">
        Read all reviews <i class="fa-solid fa-arrow-right"></i>
      </a>
    </div>

    <div class="reviews-grid">
      {% for review in site.reviews %}
      <div class="review-card">
        <div class="review-card-stars">
          <i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i>
        </div>
        <p class="review-card-text">"{{ review.quote }}"</p>
        <div class="review-card-footer">
          <div class="review-card-avatar">{{ review.avatar }}</div>
          <div class="review-card-meta">
            <span class="review-card-name">{{ review.name }}</span>
            <span class="review-card-badge">{{ review.badge }}</span>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
